<html>
    <link rel="stylesheet" href="MyStyle/1.css"/>
    <head>

    </head>
    <body>
        <h1>for starter [[${session.loginUser}]]</h1>
        <h2>to get good at</h2>
        <h3>html and css</h3>
        <input class="input1" placeholder="search here"></input>
        <button class="button1">button</button>
        <button>b</button>
        <div class="list">
            <ul class="left">
                <li>
                    <a href="">a-a</a>
                </li>
                <li>
                    <a href="">a-b</a>
                </li>
                <li>
                    <a href="">a-c</a>
                </li>
            </ul>
        </div>
        <div class="rightlist">
            <ul class="right">
                <li>
                    <a href="/emps">to_list</a>
                </li>
                <li>
                    <a href="/logout">log_out</a>
                </li>
                <li>
                    <a href="">b-c</a>
                </li>
            </ul>
        </div>
        <div class="dialog">
            <span class="date">c-a</span>
            <span class="month">c-b</span>
        </div>
    </body>
</html>